#root{
  text-align: center;
}
.btn1{
  background-color: rgb(255, 0, 55);
  padding: 10px;
  border: none;
  width: 60px;
  border-radius: 10px;
}
.btn2{
  background-color: rgb(0, 136, 255);
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.btn3{
  background-color: rgb(34, 255, 0);
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.color-box{
  height: 100px;
  width: 100px;
  border: 1px solid;
  margin-left: 590px;
}